html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.debug {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

.holder {
    width: 100%;
    height: 100%;
    position: relative;   
    z-index: 3;
}

.iframe {
    width: 100%;
    height: 100%;
  }

.loader {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #2895ee; /* blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

.fun-facts {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popup {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 50%;
}
.popup-content button {
    background: none;
    border: none;
    padding: 10px 20px; /* Increase the padding to increase the hitbox */
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: center;
    margin: 0 auto; /* Add this line to center the button */
    font-family: inherit; /* Add this line to use the same font as the text */
}

.popup-content button:hover {
    color: #7d7d7d;
    background-color: rgb(46, 45, 45);
    border-radius: 50%;
}

.popup-content button:active {
    color: white;
    background-color: #2895ee;
}

.popup-content button:focus {
    color: white;
    background-color: #2895ee;
}

.show {
    display: block;
}

